<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Men Apparels</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
</head>

<body>
    <nav class="navbar"></nav>
    <script src="{{ url_for('static', filename='js/nav.js')}}"></script>

    <form >
    </form>
    <footer></footer>

    <script src="{{ url_for('static', filename='js/footer.js')}}"></script>
    </body>

    </html>