<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Men Apparels</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css')}}">
</head>

<body>
    <nav class="navbar"></nav>
    <script src="{{ url_for('static', filename='js/nav.js')}}"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
    </script>

    <div class="form-bg">
        <div class="container">
            <div class="row">
                <div class="tab" role="tabpanel">
                <!-- Tab panes -->
                    <div class="tab-content tabs">
                        <div role="tabpanel" class="tab-pane fade in active" id="Section1">

                            <div class="container">
                                <div class="row">
                                    <div class="column">
                                <button class="pre-btn"><img src="{{ url_for('static', filename='images/arrow.png')}}"
                                        alt=""></button>
                                <button class="nxt-btn"><img src="{{ url_for('static', filename='images/arrow.png')}}"
                                        alt=""></button>

                                <div class="product-container">
                                    <div class="product-card">
                                        <div class="product-image">
                                            <img src="{{ url_for('static', filename='images/card1.png')}}"
                                                class="product-thumb" alt="">
                                        </div>
                                    </div>
                                    <div class="product-card">
                                        <div class="product-image">
                                            <img src="{{ url_for('static', filename='images/card2.png')}}"
                                                class="product-thumb" alt="">
                                        </div>
                                    </div>
                                    <!--
                                    <div class="product-card">
                                        <div class="product-image">
                                            <img src="{{ url_for('static', filename='images/card3.png')}}"
                                                class="product-thumb" alt="">
                                        </div>
                                    </div>
                                    <div class="product-card">
                                        <div class="product-image">
                                            <img src="{{ url_for('static', filename='images/card4.png')}}"
                                                class="product-thumb" alt="">
                                        </div>
                                    </div>
                                    <div class="product-card">
                                        <div class="product-image">
                                            <img src="{{ url_for('static', filename='images/card5.png')}}"
                                                class="product-thumb" alt="">
                                        </div>
                                    </div>
                                    <div class="product-card">
                                        <div class="product-image">
                                            <img src="{{ url_for('static', filename='images/card6.png')}}"
                                                class="product-thumb" alt="">
                                        </div>
                                    </div>
                                    <div class="product-card">
                                        <div class="product-image">
                                            <img src="{{ url_for('static', filename='images/card7.png')}}"
                                                class="product-thumb" alt="">
                                        </div>
                                    </div>
                                    
                                    <div class="product-card">
                                        <div class="product-image">
                                            <img src="{{ url_for('static', filename='images/card8.png')}}"
                                                class="product-thumb" alt="">
                                        </div>
                                    </div>
                                </div>
                                </div>
-->
                                <div class="column">
                                <div class="preview">
                                    <img id="file-ip-1-preview">
                                    {% if filename %}
                                    <div>
                                        <img src="{{ url_for('display_image', filename=filename) }}">
                                    </div>
                                    {% endif %}
                                </div>
                                
                                <form class="form-horizontal" method="post" action="http://127.0.0.1:5000/upload"
                                    enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="file-ip-1">Upload Image</label>
                                        <input type="file" name="file1" id="file-ip-1" class="form-control"
                                        autocomplete="off" onchange="showPreview(event);" required>
                                        <script src="{{ url_for('static', filename='js/form.js')}}"></script>
                                    </div>

                                    <hr>
                                    {% for file1 in files %}
                                    <img src="{{ url_for('upload', filename=file1) }}" style="width: 64px">
                                    {% endfor %}
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </div>
                                    <div class="form-group forgot-pass">
                                        <button type="submit" class="btn btn-default">Refer to the Guidelines page</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer></footer>

    <script src="{{ url_for('static', filename='js/footer.js')}}"></script>

</body>
</html>